.full-width {
  background: black;
  height: 300px;
}

.standard-padding-vertical {
  padding: 1em 0;
}

.parallax-half-width {
  padding: 7em 0;
}

.parallax-container {
  padding: 5em 0;
}

/* plugin styles */
.parallax {
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5em 0;
}
