@import '../dist/main.css';

.full-width {
  background: black;
  height: 80vh;
}

.standard-padding-vertical {
  padding: 1em 0;
}

.parallax-half-width {
  padding: 7em 0;
}

.parallax-container {
  padding: 5em 0;
}
